.mt10 {
    margin-top:10px;
}
.red{
    background-color: pink !important;
}
.yellow{
    background-color:yellow !important ;
}
.greenyellow{
    background-color:greenyellow !important ;
}
.plum{
    background-color: plum !important;
}